.container {
    background: white;
    padding: 50px;
}
.display-none {
    display: none;
}
.announcement{
    list-style-type: none;
    background: rgb(255, 230, 204);
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
    border: 2px solid;
}
body {
    background: #ebebeb!important;
}
.float-right {
    float: right;
}
.margin-right-5px {
    margin-right: 5px;
}
.margin-left-5px {
    margin-left: 5px;
}

#frame {
    width: 80%;
    min-width: 360px;
    height: 92vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
}

#frame .content {
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame .content {
        width: calc(100% - 58px);
        min-width: 300px !important;
    }
}
.contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
    text-align: center;
}
#frame .content .messages {
    height: auto;
    min-height: calc(100% - 110px);
    max-height: calc(100% - 110px);
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width: 735px) {
    #frame .content .messages {
        max-height: calc(100% - 115%);
    }
}
#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}
#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}
#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    width: calc(100% - 40px);
    font-size: 0.9em;
}
#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 10px;
}
#frame .content .messages ul li.sent p {
    background: #f5f5f5;
}
#frame .content .messages ul li.replies p {
    background: #435f7a;
    color: #f5f5f5;
    float: right;
}
#frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 205px;
    line-height: 130%;
}
@media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
        max-width: 500px;
    }
}
#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    background: #ebebeb;
    padding-top: 5px;
}
.message-input input {
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 110px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}
@media screen and (max-width: 735px) {
    .message-input input {
        padding: 15px 32px 16px 8px;
    }
}
.message-input input:focus {
    outline: none;
}
.message-input .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}
@media screen and (max-width: 735px) {
    .message-input .attachment {
        margin-top: 17px;
        right: 65px;
    }
}
.message-input .attachment:hover {
    opacity: 1;
}
.content .message-input button {
    float: right;
    border: none;
    width: 45px;
    padding: 10px 0;
    cursor: pointer;
    color: #f5f5f5;
    background: #32465a;
    margin-right: 5px;
}
@media screen and (max-width: 735px) {
    .message-input button {
        padding: 16px 0;
    }
}
.content .message-input button:hover {
    background: #435f7a;
}
.content .message-input button:focus {
    outline: none;
}